.container {
  margin: 0 auto;
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1020px;
}

.search-wrapper {
  border-radius: 4px;
  border: 1px solid #DBDBDB;
  height: 80px;
  .search-button-wrapper {
    display: table-cell;
    width: 0px;
    .search-button {
      background: #FF5A5F;
      position: absolute;
      right: 30px;
      color: white;
      font-size: 18px;
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
      width: 94px;
      height: 48px;
      margin: 12px;
      float: right;
      border: none;
      padding: 0 18px;
      border-radius: 4px;
      display: inline-block;
    }
  }
}
