.single-guest-selector-wrapper {
  margin: 16px 0px;
  .single-guest-selector-left {
    display: inline-block;
    width:50%;
    .single-guest-selector-title {
      font-size: 19px ;
      color: #484848;
    }
    .single-guest-selector-reminder {
      font-weight: 300;
      color: #484848;
      font-size: 15px;
    }
  }

  .single-guest-selector-right {
    display: inline-block;
    width: 50%;
    button {
      display: inline-block;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid rgba(0, 132, 137, 0.3) !important;
      cursor: pointer !important;
      background-color: transparent;
      i{
        margin-top: 3px;
        width: 20px;
        height: 20px;
        display: inline-block;
      }
      .sub-button-icon{
        background: url("./sub-button.svg") no-repeat center center;
      }
      .plus-button-icon{
        background: url("./plus-button.svg") no-repeat center center;
      }
    }
    .sub-button{
      margin-right:18px;
    }
    .plus-button{
      margin-left:18px;
    }
    .guest-number {
      display: inline-block;
      text-align: center;
    }
  }
}
