.red {
    color: red;
}

.logo {
    background-image: url("./logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 22px;
    display: inline-block;
    width: 22px;
    vertical-align: middle;
}
